#in-love{
    margin-left: 560px;
    margin-right: 570px;
    text-align: center;
    border-radius: 0px 25px 0px 25px;
}

#sad{
    margin-left: 560px;
    margin-right: 570px;
    text-align: center;
    border-radius: 0px 25px 0px 25px;
}

#memories{
    margin-left: 560px;
    margin-right: 570px;
    text-align: center;
    border-radius: 0px 25px 0px 25px;
}

#best-friend{
    margin-left: 560px;
    margin-right: 570px;
    text-align: center;
    border-radius: 0px 25px 0px 25px;
}
